aside {
  margin-top: 89px;
  max-width: 252px;
}

aside button {
  height: 45px;
}

aside h5 {
  display: inline-block;
  font-size: 16px;
  margin: 22px 0px 15px 5px;
}

aside input {
  border-radius: 2px;
  border: none;
  height: 45px;
  margin-bottom: 25px;
  width: 78%;
}

.aside-card {
  border-bottom: 2px solid lightgray;
}

.aside__p-text {
  font-size: 12px;
  margin-bottom: 20px;
}

.facebook-btn {
  background-color: #4d71c0;
}

.linkedin-btn {
  background-color: #1582ba;
}

.social-btn {
  border-radius: 2px;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 45px;
  margin-bottom: 15px;
  padding-left: 15px;
  width: 250px;
}

.social__btn-text {
  padding-left: 42px;
}


.twitter-btn {
  background-color: #1ca9ec;
}