header {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 2px solid #dfdfdf;
  padding: 35px 40px 0px 45px;
}

header h1 {
  font-size: 26px;
  font-weight: 400;
  margin: 0px 0px 5px 0px;
  color: #6b6a6f;
}

header h2 {
  display: inline-block;
  font-size: 12px;
  padding-bottom: 20px;
  border-bottom: 3px solid transparent;
  margin: 0px 20px 0px 20px;
}

header h2:hover {
  border-bottom: 3px solid #26a6f7;
  cursor: pointer;
}

header p {
  display: inline-block;
  color: #8b8d9a;
  font-size: 14px;
}

.fa-circle {
  color: #8fc851;
  margin-right: 5px;
}

.locationicon- {
  display: inline-block;
  color: #8b8d9a;
}

.header__btn {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  color: #959aa3;
  margin: 0px 4px 0px 4px;
}

.header__btn-open {
  border-radius: 50px;
  height: 35px;
  width: 80px;
  font-size: 12px;
  font-weight: 600;
  color: #959aa3;
}

.header__preview {
  color: #26a6f7;
      margin-left: 5px;
}

/*.header__tab-summary {
  margin: 0px 20px 0px 0px;
}*/

.header__top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
