.body__manager-pic {
  height: 75px;
  border-radius: 80%;
}

.main__body-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  padding: 0px 20px 0px 35px;
  background-color: #edf2f6;
  height: 843px;
  grid-gap: 10px;
}

table { 
  border-collapse: collapse; 
}

td {
  height: 66px;
  padding: 20px 25px 20px 2px;
  border-bottom: 2px solid #ececec7a;
}

#bret-bretterson {
  font-weight: 400;
  font-size: 15px;
  margin-left: 15px;
}

.copy-btn {
  border-style: none;
  background-color: #4bbabf;
  border-radius: 2px;
  width: 21%;
  margin-left: -3px;
}

.table__header td {
  background-color: #707e94;
  border: none;
  color: #fff;
}

.table__main-column {
  width: 170px;
  background-color: #fff;
}

.table__description-column {
  background-color: #fff;
}

.main__job-table {
  margin-top: 90px;
}

.main__job-table h3 {
  font-size: 16px;
  padding: 0px;
}

.main__job-table h4 {
  font-size: 14px;
}

.manager-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 102px;
}


.table__edit-btn {
  border-style: none;
  height: 30px;
  width: 75px;
  border-radius: 2px;
  font-size: 12px;
  background-color: #7b8aa6;
  color: #fff;
}

.table-edit {
  margin-right: 5px;
}

#table-spacer {
  width: 5px;
  border: none;
  background-color: #fff;
}

#header__table-spacer {
  width: 5px;
  border: none;
  background-color: #707e94;
}
