@media screen and (max-width: 1053px) {

  nav {
    display: none;
  }

  .main__body {
    height: 100%
  }

}

@media screen and (max-width: 877px) {

  header h2 {
    margin: 0px 5px 0px 5px;
  }

  nav {
    display: none;
  }

  .main__body-info {
    height: 100%
  }

  .main__bar-graph {
    width: 80%;
  }

  .main__donut-graphs {
    width: 80%;
  }

  .main__stats {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(439px, 1fr));
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }

  .totals-btn {
    margin-top: 20px;
  }

}

@media screen and (max-width: 740px) {

  aside {
    max-width: 100%;
    margin-top: 55px;
  }

  table {
    width: 90%;
  }

  .aside-card,
  .aside__resume-upload {
    margin: 0px 59px;
  }

  .aside__social-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .fa-caret-down {
    margin-left: 5px;
    font-size: 20px;
  }

  .header__tabs {
    display: none;
  }

  .hidden-btn {
    display: inline-block;
    font-size: 12px;
    padding-bottom: 20px;
    border-bottom: 3px solid transparent;
  }

  .main__body {
    background-color: #edf2f6;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .main__body-info {
    padding: 0px 20px 0px 25px;
    background-color: #edf2f6;
    height: 100%;
    display: inline-block;
    margin-top: 0px;
  }

  .main__job-table {
    display: flex;
    justify-content: center;
  }

  .social-btn {
    width: 80%;
  }

  .social__btn-text {
    padding-left: 170px;
  }

}

@media screen and (max-width: 740px) {

  td {
    padding: 0px;
  }

  .copy-btn {
    font-size: 88%;
  }

  .divider__btn {
    display: none;
  }

  .main__job-table {
    margin-top: 35px;
  }

  .main__job-table table {
    display: flex;
    justify-content: center;
  }

  .main__divider-div {
    display: none;
  }

  .social__btn-text {
    padding-left: 100px;
  }

  .thicon- {
    border: 1px solid #dfdfdf;
  }

}

@media screen and (max-width: 545px) {

header {
  padding: 35px 10px 0px 15px;
}

.calendaricon- {
  display: none;
}


.header__preview {
  display: block;
}

.header__search-bar {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid #dfdfdf;
}

.main__stats {
  grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
}
  
.social__btn-text {
  padding-left: 35px;
}

.thicon- {
  border-right: none;
  border-bottom: none;
}

}

@media screen and (max-width: 414px) {

header {
  padding: 20px 5px 0px 15px
}

.aside-card,
.aside__resume-upload {
    margin: 0px 10px;
}

.header__btn-open {
  display: none;
}

.main__body-info {
  padding: 0px 10px 0px 10px;
}

.social-btn {
  width: 95%;
}

.thicon- {
  display: none;
}

}