hr {
  background-color: #2d3849;
}

nav {
  width: 175px;
  background-color: #354051;
  float: left;
  height: 1405px;
  color: #acb7c8;
  font-size: 12px;
}

nav h3 {
  font-weight: 300;
  padding-left: 20px;
}

.nav__user-pic {
  height: 75px;
  border-radius: 80%;
}

.nav__profile {
  height: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 4px solid #2d3849;
}

.nav__main p,
.nav__admin p,
.nav__categories label {
  display: inline-block;
  margin-left: 10px;
}

.nav__main i,
.nav__admin i {
  display: inline-block;
}
.nav__profile p {
  padding-top: 15px;
  font-size: 14px;
}
.nav__main,
.nav__admin {
  height: 245px;
  border-bottom: 4px solid #2d3849;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0px 10px 0px;
}

.nav__main article,
.nav__admin article {
  border-left: 2px solid #354051;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.nav__main article:hover,
.nav__admin article:hover {
  border-left-color: #26aef5;
  background-color: #303949;
  color: #fff;
  cursor: pointer;
}

.nav__categories {
  /*height: 685px;*/
  height: 245px;
  border-bottom: 4px solid #2d3849;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0px 10px 20px;
}