.header__search-input {
 border-left: 1px solid lightgray;
 border: none;
 height: 76px;
}

.header__search-input::placeholder {
  background-position: 15px 3px;
  background-size: 10px;
  background: url(../images/search.png) no-repeat;
  color: #959aa3;
  font-size: 20px;
  padding-left: 40px;
}

.header__search-bar {
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  display: grid;
  grid-template-columns: 75px 1fr 75px 75px 75px;
}

.header__search-icon {
  align-items: center;
  align-self: center;
  border-left: 1px solid #dfdfdf;
  color: #959aa3;
  display: flex;
  font-size: 20px;
  height: 100%;
  justify-content: center;
  width: 75px;
}

.header__search-icon:hover {
  background-color: #26a6f7;
  color: #fff;
}

.hidden-btn {
  display: none;
}

.menuicon- {
  border-right: 1px solid lightgray;
}
