
.locationicon-:before { content: '\e800'; } /* '' */
.calendaricon-:before { content: '\e801'; } /* '' */
.thicon-:before { content: '\e802'; } /* '' */
.trashicon-:before { content: '\e803'; } /* '' */
.menuicon-:before { content: '\f008'; } /* '' */
.user-plusicon-:before { content: '\f234'; } /* '' */